
/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:954px 162px;
    width:954px;
    height:162px;
    position:absolute;
    border-radius: 0px;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-brand {
    left:0;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:160px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-brand h1 {
    border-color:#000;
    border-radius:12px;
    border-style:solid;
    border-width:4px;
    display:inline-block;
    font-family:"Nexa";
    font-size:32px;
    padding:3px 9px 0;
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:340px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:10px;
    position:absolute;
    right:10px;
    top:235px;
}

/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group {
    margin:20px;
    position:relative;
    text-align:center;
    z-index:30;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    height:110px;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:0px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-enumerated-group {
    height:31px;
    margin:20px auto 0 !important;
    position:relative;
    width:190px;
    z-index:35;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated {
    background-position:right center;
    background-repeat:no-repeat;
    font-size:11px;
    font-weight:bold;
    left:0;
    line-height:2;
    overflow:hidden;
    position:absolute;
    right:0;
    text-align:left;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    background-color:rgba(0,0,0,.3);
    box-shadow:inset 0 0 4px rgba(0,0,0,.3);
    border-radius:4px;
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    border-radius:4px 4px 0 0;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    display:none;
    color:#fff;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background-color:rgba(0,0,0,.9);
    display:none;
    height:115px;
    overflow:auto;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:rgba(255,255,255,.2);
    cursor:pointer;
}

/* STYLES FOR THE PLUGIN */

.dpf-nekobi * {
    color:black !important;
}
.dpf-nekobi {
    background-image:url(/resources/background.png{{{ns}}}) !important;
    background-size:954px 162px;
    width:954px;
    height:162px;
    border-radius: 0;
}
.dpf-nekobi .mod-control-group {
    width:821px;
    height:65px;
    top:68px;
    left:67px;
    margin:0px;
}
.dpf-nekobi .mod-control-group .mod-knob {
    height:65px !important;
}
.dpf-nekobi .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knob.png{{{ns}}});
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 65px;
    height:65px;
    width:65px;
    margin:0 auto;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}
.dpf-nekobi .mod-control-group .dpf-nekobi-knob_tuning {
    left:0px;
    position:absolute;
}
.dpf-nekobi .mod-control-group .dpf-nekobi-knob_cutoff {
    left:215px;
    position:absolute;
}
.dpf-nekobi .mod-control-group .dpf-nekobi-knob_resonance {
    left:323px;
    position:absolute;
}
.dpf-nekobi .mod-control-group .dpf-nekobi-knob_env_mod {
    left:432px;
    position:absolute;
}
.dpf-nekobi .mod-control-group .dpf-nekobi-knob_decay {
    left:540px;
    position:absolute;
}
.dpf-nekobi .mod-control-group .dpf-nekobi-knob_accent {
    left:648px;
    position:absolute;
}
.dpf-nekobi .mod-control-group .dpf-nekobi-knob_volume {
    left:756px;
    position:absolute;
}
.dpf-nekobi .mod-light {
    background-position:top left;
    background-repeat:no-repeat;
    background-size:26px 27px;
    height:26px;
    width: 27px;
    top:12px;
    left:804px;
}
.dpf-nekobi .mod-light.on {
    background-image:url(/resources/led-on.png{{{ns}}});
}
.dpf-nekobi .mod-light.off {
    background-image:url(/resources/led-off.png{{{ns}}});
}
.dpf-nekobi .mod-footswitch {
    background-image:url(/resources/slider-horizontal.png{{{ns}}});
    background-position:top left;
    background-repeat:no-repeat;
    background-size:156px 48px;
    top:3px;
    right:57px;
    cursor:pointer;
    height:48px;
    width: 78px;
    position:absolute;
}
.dpf-nekobi .mod-footswitch.on {
    background-position:top left;
}
.dpf-nekobi .mod-footswitch.off {
    background-position:top right;
}
.dpf-nekobi .dpf-nekobi-knob_waveform {
    background-image:url(/resources/slider-vertical.png{{{ns}}});
    background-position:top left;
    background-repeat:no-repeat;
    background-size:78px 101px;
    top:-17px;
    left:136px;
    height:101px;
    cursor:pointer;
    width:39px;
    position:absolute;
}
.dpf-nekobi .dpf-nekobi-knob_waveform.on {
    background-position:top left;
}
.dpf-nekobi .dpf-nekobi-knob_waveform.off {
    background-position:top right;
}
.dpf-nekobi .mod-pedal-input , .dpf-nekobi .mod-pedal-output {
    top: 60px;
}
.dpf-nekobi .mod-pedal-input .mod-input , .dpf-nekobi .mod-pedal-output .mod-output {
    margin-bottom: 40px !important
}
