/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:230px 431px;
    height:431px;
    position:absolute;
    width:230px;
    border-radius: 21px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 {
    background-size:301px 315px;
    height:315px;
    width:301px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy75 {
    background-size:326px 431px;
    width:326px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy85 {
    background-size:364px 431px;
    width:364px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy100 {
    background-size:421px 431px;
    width:421px;
}

/* = BACKGROUND IMAGES - Colour of the pedal
================================================ */
/* NORMAL */
.mod-pedal-boxy{{{cns}}}.mod-blue {
    background-image:url(/resources/pedals/boxy/blue.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-brown {
    background-image:url(/resources/pedals/boxy/brown.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-cream {
    background-image:url(/resources/pedals/boxy/cream.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-darkblue {
    background-image:url(/resources/pedals/boxy/darkblue.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-gray {
    background-image:url(/resources/pedals/boxy/gray.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-green {
    background-image:url(/resources/pedals/boxy/green.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-orange {
    background-image:url(/resources/pedals/boxy/orange.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-purple {
    background-image:url(/resources/pedals/boxy/purple.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-red {
    background-image:url(/resources/pedals/boxy/red.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-white {
    background-image:url(/resources/pedals/boxy/white.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-yellow {
    background-image:url(/resources/pedals/boxy/yellow.png{{{ns}}});
}

/* SMALL */
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-blue {
    background-image:url(/resources/pedals/boxy-small/blue.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-brown {
    background-image:url(/resources/pedals/boxy-small/brown.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-cream {
    background-image:url(/resources/pedals/boxy-small/cream.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-darkblue {
    background-image:url(/resources/pedals/boxy-small/darkblue.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-gray {
    background-image:url(/resources/pedals/boxy-small/gray.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-green {
    background-image:url(/resources/pedals/boxy-small/green.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-orange {
    background-image:url(/resources/pedals/boxy-small/orange.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-purple {
    background-image:url(/resources/pedals/boxy-small/purple.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-red {
    background-image:url(/resources/pedals/boxy-small/red.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.mod-white {
    background-image:url(/resources/pedals/boxy-small/white.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy50.yellow {
    background-image:url(/resources/pedals/boxy-small/yellow.png{{{ns}}});
}


/* LARGE */
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-blue {
    background-image:url(/resources/pedals/boxy75/blue.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-brown {
    background-image:url(/resources/pedals/boxy75/brown.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-cream {
    background-image:url(/resources/pedals/boxy75/cream.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-darkblue {
    background-image:url(/resources/pedals/boxy75/darkblue.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-gray {
    background-image:url(/resources/pedals/boxy75/gray.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-green {
    background-image:url(/resources/pedals/boxy75/green.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-orange {
    background-image:url(/resources/pedals/boxy75/orange.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-purple {
    background-image:url(/resources/pedals/boxy75/purple.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-red {
    background-image:url(/resources/pedals/boxy75/red.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-white {
    background-image:url(/resources/pedals/boxy75/white.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-boxy75.yellow {
    background-image:url(/resources/pedals/boxy75/yellow.png{{{ns}}});
}

/* BIGGER */
.mod-pedal-boxy{{{cns}}}.mod-boxy85.mod-yellow {
    background-image:url(/resources/pedals/boxy85/yellow.png{{{ns}}});
}

/* HUGE */
.mod-pedal-boxy{{{cns}}}.mod-boxy100.mod-yellow {
    background-image:url(/resources/pedals/boxy100/yellow.png{{{ns}}});
}


/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-brand {
    left:0;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:160px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-brand h1 {
    border-color:#000;
    border-radius:12px;
    border-style:solid;
    border-width:4px;
    display:inline-block;
    font-family:"Nexa";
    font-size:32px;
    padding:3px 9px 0;
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-plugin-brand,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-plugin-brand,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-plugin-brand,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-plugin-brand {
    top:190px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-plugin-brand {
  top:16px;
}


/* = PLUGIN'S NAME
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:340px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-plugin-name,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-plugin-name,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-plugin-name,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-plugin-name {
    top:350px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-plugin-name {
  top:230px;
}


/* = PLUGIN'S AUTHO AND NAME COLOURS
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-blue .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-blue .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy{{{cns}}}.mod-brown .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-brown .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy{{{cns}}}.mod-cream .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-cream .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy{{{cns}}}.mod-darkblue .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-darkblue .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy{{{cns}}}.mod-gray .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-gray .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy{{{cns}}}.mod-green .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-green .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy{{{cns}}}.mod-orange .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-orange .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy{{{cns}}}.mod-purple .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-purple .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy{{{cns}}}.mod-red .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-red .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy{{{cns}}}.mod-white .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-white .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy{{{cns}}}.mod-yellow .mod-plugin-brand h1,
.mod-pedal-boxy{{{cns}}}.mod-yellow .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:10px;
    position:absolute;
    right:10px;
    top:235px;
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-light,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-light,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-light,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-light {
    top:253px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-light {
  top:105px;
}


/* = FOOTSWITCH
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-footswitch {
    background-image:url(/resources/pedals/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom: 95px;
    left: 13px;
    right: 13px;
    cursor:pointer;
    height:66px;
    width: 66px;
    margin: auto;
    position:absolute !important;
}
.mod-pedal-boxy{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-footswitch,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-footswitch,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-footswitch,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-footswitch {
    top:285px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-footswitch {
    top:140px;
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group {
    margin:20px;
    position:relative;
    text-align:center;
    z-index:30;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    height:110px;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-control-group .mod-knob {
    height:81px;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:0px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
}
.mod-pedal-boxy{{{cns}}}.mod-blue .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-brown .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-cream .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-darkblue .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-gray .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-green .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-orange .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-purple .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-red .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-white .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-yellow .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}

/* ONE and TWO KNOBS */
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/boxy/boxy.png{{{ns}}});
}
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group  .mod-knob .mod-knob-image,
.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group .mod-knob .mod-knob-image {
    height:100px;
    margin:0 auto;
    width:100px;
}

/* TWO KNOBS */
.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group {
    margin:20px 10px;
}

.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group .mod-knob {
    float:left;
    width:50%;
}

/* THREE AND HIGHER KNOBS */
.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group,
.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group,
.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-control-group,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-control-group,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-control-group,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-control-group {
    margin:20px 6px;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-control-group .mod-knob {
    display:inline-block;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/lata/lata.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 70px;
    height:70px;
    margin:0 -2px;
    width:70px;
}

/* EIGTH KNOBS */
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-knob {
    width:70px;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-enumerated-group {
    height:31px;
    margin:20px auto 0 !important;
    position:relative;
    width:190px;
    z-index:35;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-enumerated-group {
    margin-bottom:5px !important;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated {
    background-position:right center;
    background-repeat:no-repeat;
    font-size:11px;
    font-weight:bold;
    left:0;
    line-height:2;
    overflow:hidden;
    position:absolute;
    right:0;
    text-align:left;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    background-color:rgba(0,0,0,.3);
    box-shadow:inset 0 0 4px rgba(0,0,0,.3);
    border-radius:4px;
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    border-radius:4px 4px 0 0;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    display:none;
    color:#fff;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background-color:rgba(0,0,0,.9);
    display:none;
    height:115px;
    overflow:auto;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:rgba(255,255,255,.2);
    cursor:pointer;
}


.mod-pedal-boxy{{{cns}}}.mod-blue .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-brown .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-cream .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-darkblue .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-gray .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-green .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-orange .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-purple .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-red .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-white .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
    color:black;
}
.mod-pedal-boxy{{{cns}}}.mod-yellow .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
    color:black;
}

/* SLIDER
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-slider:first-child {
    margin-left:8px;
}

.mod-pedal-boxy{{{cns}}} .mod-slider {
    color:black;
    float:left;
    font-size:11px;
    height:140px;
    margin-bottom:2px;
    margin-right:2px;
    overflow:hidden;
    position:relative;
    text-align:center;
    width:33px;
}


.mod-pedal-boxy{{{cns}}} .mod-slider .mod-slider-title {
    display:block;
    font-size:11px;
    font-weight:bold;
    height:7px;
    line-height:1;
    margin-bottom:3px;
    overflow:hidden;
    padding:7px 0 5px;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-slider .mod-slider-image {
    background-image:url(/resources/pedals/slider.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 110px;
    height:110px;
    margin:0 auto;
    width:44px;
}

.mod-pedal-boxy{{{cns}}} .mod-slider .mod-slider-image:hover {
    cursor:pointer;
}

.mod-pedal-boxy{{{cns}}}.mod-three-sliders .mod-slider {
    margin:0;
    width:33%;
}

.mod-pedal-boxy{{{cns}}}.mod-four-sliders .mod-slider {
    margin:0;
    width:25%;
}

.mod-pedal-boxy{{{cns}}}.mod-five-sliders .mod-slider {
    margin:0;
    width:20%;
}

.mod-pedal-boxy{{{cns}}}.mod-six-sliders .mod-slider {
    margin:0;
    width:16.5%;
}

.mod-pedal-boxy{{{cns}}}.mod-seven-sliders .mod-slider {
    margin:0;
    width:14.2%;
}

.mod-pedal-boxy{{{cns}}}.mod-eight-sliders .mod-slider {
    margin:0;
    width:12.5%;
}

.mod-pedal-boxy{{{cns}}}.mod-nine-sliders .mod-slider {
    margin:0;
    width:11.11%;
}

.mod-pedal-boxy{{{cns}}}.mod-ten-sliders .mod-slider {
    margin:0;
    width:10%;
}

.mod-pedal-boxy{{{cns}}}.mod-ten-sliders .mod-slider .mod-slider-image {
    margin-left:-5px;
}

.mod-pedal-boxy{{{cns}}}.mod-twelve-sliders .mod-slider {
    margin:0;
    width:8.333333%;
}

.mod-pedal-boxy{{{cns}}}.mod-twelve-sliders .mod-slider .mod-slider-image {
    margin-left:-5px;
}
